@import url("@fontsource/roboto/300.css");
@import url("@fontsource/roboto/400.css");
@import url("@fontsource/roboto/500.css");
@import url("@fontsource/roboto/700.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

span {
  color: #118b50;
  font-weight: bold;
}

.navbar-container {
  margin-bottom: 7rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b59f78;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

a {
  text-decoration: none;
}

.carousal-first-img {
  z-index: 2;
  width: 20rem;
  height: auto;
  position: absolute;
}
.carousal-second-img {
  z-index: 1;
  width: 20rem;
  height: auto;
  position: absolute;
}
.carousal-third-img {
  z-index: 0;
  width: 20rem;
  height: auto;
  position: absolute;
}

.firstImg,
.secondImg,
.thirdImg {
  border-radius: 1.5rem;
  border: 2px solid #fff4b7;
  width: 20rem;
  height: auto;
}

.disabled-img {
  margin: 5px 5px 5px 20px;
}

@media (max-width: 1060px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 18rem;
  }
}
@media (max-width: 860px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 14rem;
  }
}
@media (max-width: 768px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 20rem;
  }
}

@media (max-width: 545px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 16rem;
  }
}
@media (max-width: 528px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 14rem;
  }
}
@media (max-width: 405px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 12rem;
  }
}
@media (max-width: 370px) {
  .carousal-first-img,
  .carousal-second-img,
  .carousal-third-img,
  .firstImg,
  .secondImg,
  .thirdImg {
    width: 10rem;
  }
}

.brief {
  background-image: url(../public/images/eahgradient.jpg);
}

.welcome-img {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .welcome-img {
    border-radius: 10px;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.img {
  border-radius: 100%;
}
